<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario

            h1= nombrePagina
            p Agrega tu e-mail para reestablecer la contraseña

            if locals.mensajes
                .alertas
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p= error
            
            form.caja-login(method="POST" action="/reestablecer")
                .campo
                    label(for="email") E-mail:
                    input(type="text" name="email" placeholder="Tu Email" )
                .campo.enviar
                    input.boton(type="submit" value="Reestablecer Password")
                .campo.acciones
                    a(href="/iniciar-sesion") Ya lo recordé, volver a Login