<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1= nombrePagina
            p Coloca tu Nuevo Password
 
            form.caja-login(method="POST")
                .campo
                    label(for="password") Password:
                    input(type="password" name="password" placeholder="Nuevo Password" )
                .campo.enviar
                    input.boton(type="submit" value="Reestablecer Password")