mixin crearProyecto(proyecto = {})
    form.agregar-proyecto(action=`/nuevo-proyecto/${proyecto.id || ''}` method="POST")
        .campo
            label(for="nombre") Nombre Proyecto:
            input(value=proyecto.nombre type="text" id="nombre" name="nombre" placeholder="Nombre Proyecto")
        .campo.enviar
            input(type="submit" value=`${proyecto.nombre ? 'Guardar' : 'Agregar'}` class="boton")